.btn-vaga {
    background-color: white;
    border: 1px solid gray;
    color: #2259BC;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.btn-vaga:hover {
    background-color: #132d5f;
    color: white;
}

.btn-empresa {
    background-color: #132d5f;
    border: 1px solid #132d5f;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.btn-empresa:hover {
    background-color: white;
    border: 1px solid gray;
    color: #2259BC;
}

.btn-notificacao{
    border: none;
    background-color: #98bcff;
    color: #ffffff;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.btn-notificacao:hover {
    background-color: #132d5f;
    color: white;
}

.img_sobre {
    padding: 0;
}

.ancora{
    text-decoration: none;
}
